// app global css in SCSS form

.text-basic {
  color: rgba(0, 0, 0, 0.77)
}

.bg-my-white {
  @extend .bg-blur-white;
}

.bg-blur-white {
  background-color: rgba(255, 255, 255, 0.44);
}

.bg-blur-white::before {
  content: '';
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-attachment: fixed;
  filter: blur(40px);
}

